<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wedding Invitation Email</title>
</head>
<body>
	<h3>Hi <%= @user.name %></h3>
	<p>You are invited to the wedding. Please click the link below to register. </p>
	<p>PS: Do not use mobile phone, use browser to open. :) </p>
	<p><%= @url %></p>
</body>
</html>