form, h1 {
  text-align: center;
}

.logged-in-user {
  text-align: right;
  font-family: 'Playfair Display SC', serif;
}

.header {
	width: 100%;
	height: 400px;
	display: block;
	background-image: image-url('header-image.png');
	background-repeat: no-repeat;
  text-align: center;
}

.header-text {
	line-height: 300px;
	font-size: 80px;
	font-family: 'Dancing Script', cursive;
}


button.btn-success {
	border-radius: 20px;
}


.map-canvas {
	height: 400px;
	width: 400px;
  margin: 0 auto;
  text-align: center;
}

.couples {
	margin-bottom: 20px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
  text-align: center;
}

.wedding-date {
	display: block;
	height: 60px;
	width: 100%;
	font-size: 40px;
	color: white;
	font-family: 'Anton', sans-serif;
	background: -webkit-repeating-linear-gradient(145deg, #222, #222 10px, #333 10px, #333 20px);
	background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
  text-align: center;
}

.love-story {
	/*width: 200px;*/
  max-width: 900px;
  height: 80px;
  background-color: white;
	margin-left: 6em;
	margin-top: -16em;
	border-radius: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	position: absolute;
  overflow-y: scroll;
  opacity: 0.8;
  /*color: white;*/
  /*border: 1px solid black;*/
}

#myCanvas {
  position: absolute;
  margin-right: 20em;

}


.location {
	margin-top: 50px;
  text-align: center;
}


.user-name {
  text-align: center;
}

.line0 {
  width: 100px;
  height: 30px;
  position: absolute;
  margin-top: -9em;
  margin-left: 5em;
  transform: rotate(-7deg);
  border-bottom: 3px dotted pink;   
}

.line1 {
  width: 273px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 12em;
  transform: rotate(7deg);
  border-bottom: 3px dotted pink; 
}

.line2 {
  width: 177px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 31em;
  transform: rotate(-7deg);
  border-bottom: 3px dotted pink; 
}

.line3 {
  width: 166px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 44em;
  transform: rotate(7deg);
  border-bottom: 3px dotted pink; 
}

.line4 {
  width: 225px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 55em;
  transform: rotate(-7deg);
  border-bottom: 3px dotted pink; 
}

.new-weddings {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -38em;
  margin-top: 19em;
  background-color: #CC66FF;
  opacity: 0.8; 

}
.new-weddings:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px; 
}

.new-edit-profile {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -50em;
  margin-top: 20em;
  background-color: #FF9966;
  opacity: 0.8; 
}
.new-edit-profile:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px; 
}

.new-user-logout {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -26em;
  margin-top: 20em;
  background-color: #33CCFF;
  opacity: 0.8;  
}
.new-user-logout:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;  
}

.new-guests {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -14em;
  margin-top: 19em;
  background-color: #FFFF99;
  opacity: 0.8;   
}
.new-guests:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;    
}

.new-images {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -63em;
  margin-top: 19em;
  background-color: #99FF99;
  opacity: 0.8;   
}
.new-images:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;    
}
