form, h1 {
  text-align: center;
}

.logged-in-user {
  text-align: right;
  font-family: 'Playfair Display SC', serif;
}

.header {
	width: 100%;
	height: 400px;
	display: block;
	background-image: image-url('header-image.png');
	background-repeat: no-repeat;
  text-align: center;
}

.header-text {
	line-height: 300px;
	font-size: 80px;
	font-family: 'Dancing Script', cursive;
}


button.btn-success {
	border-radius: 20px;
}


.map-canvas {
	height: 400px;
	width: 400px;
  margin: 0 auto;
  text-align: center;
}

.couples {
	margin-bottom: 20px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
  text-align: center;
}

.wedding-date {
	display: block;
	height: 60px;
	width: 100%;
	font-size: 40px;
	color: white;
	font-family: 'Anton', sans-serif;
	background: -webkit-repeating-linear-gradient(145deg, #222, #222 10px, #333 10px, #333 20px);
	background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
  text-align: center;
}

.love-story {
  max-width: 900px;
  height: 80px;
  background-color: white;
	margin-left: 6em;
	margin-top: -16em;
	border-radius: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	position: absolute;
  overflow-y: scroll;
}

#myCanvas {
  position: absolute;
  margin-right: 20em;

}

.location {
	margin-top: 50px;
  text-align: center;
  position: absolute;
  display:none;
}


.view-location {
  position: absolute;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  margin-left: 55em;
  margin-top: -10em;
  background-color: #FFFFCC;
  opacity: 0.8;
  border-radius: 100%;
  border: 3px solid #FF3366;
  font-family: 'Francois One', sans-serif;
}
.view-location:hover {
  cursor: pointer;
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
}



.user-name {
  text-align: center;
}

.line0 {
  width: 83px;
  height: 30px;
  position: absolute;
  margin-top: -9em;
  margin-left: 6em;
  transform: rotate(-7deg);
  border-bottom: 3px dotted pink;   
}

.line1 {
  width: 273px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 12em;
  transform: rotate(7deg);
  border-bottom: 3px dotted pink; 
}

.line2 {
  width: 177px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 31em;
  transform: rotate(-7deg);
  border-bottom: 3px dotted pink; 
}

.line3 {
  width: 166px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 44em;
  transform: rotate(7deg);
  border-bottom: 3px dotted pink; 
}

.line4 {
  width: 270px;
  height: 30px;
  position: absolute;
  margin-top: -8em;
  margin-left: 55em;
  transform: rotate(-7deg);
  border-bottom: 3px dotted pink; 
}

.new-weddings {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -38em;
  margin-top: 19em;
  background-color: #CC66FF;
  opacity: 0.8;

}
.new-weddings:hover {
  cursor: pointer;
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px; 

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
}

.new-edit-profile {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -50em;
  margin-top: 20em;
  background-color: #FF9966;
  opacity: 0.8; 
}
.new-edit-profile:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px; 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
}

.new-user-logout {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -26em;
  margin-top: 20em;
  background-color: #33CCFF;
  opacity: 0.8;  
}
.new-user-logout:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;  
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
}

.new-guests {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -14em;
  margin-top: 19em;
  background-color: #FFFF99;
  opacity: 0.8;   
}
.new-guests:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);    
}

.new-images {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -63em;
  margin-top: 19em;
  background-color: #99FF99;
  opacity: 0.8;   
}
.new-images:hover {
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);    
}

.view-gallery {
  display: inline-block;
  border: 3px solid #FF3366;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  margin-left: -58em;
  margin-top: 19em;
  background-color: #CCFFFF;
  opacity: 0.8;
  font-family: 'Francois One', sans-serif;   
}
.view-gallery:hover {
  cursor: pointer;
  background-color: pink;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 28px 6px rgba(255, 174, 0, 0.8);   
}



.button { 
  background: #00ff00;
  display: inline-block;
  text-align: center;
  padding: 9px 34px 11px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px; font-size: 1.3em;
  line-height: 1;
  font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 7em;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4); 
}
.button.radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.large.button { 
  font-size: 21px; 
  padding: 15px 48px 18px; 
  width: auto; 
}
.blue.button{
  color: #fff; 
  text-shadow: 0 1px 2px rgba(35,31,32,.61);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #00a4e7; 
  -moz-box-shadow:
    1px 5px 5px rgba(0,0,0,.15),
    inset 0 1px 1px rgba(109,207,246,.91),
    0 0 0 1px #002056;
  -webkit-box-shadow:
    1px 5px 5px rgba(0,0,0,.15),
    inset 0 1px 1px rgba(109,207,246,.91) ,
    0 0 0 1px #002056;
  box-shadow:
    1px 5px 5px rgba(0,0,0,.15),
    inset 0 1px 1px rgba(109,207,246,.91) ,
    0 0 0 1px #002056;
    background-image: -moz-linear-gradient(90deg, #0c499d 0%, #4889ec 100%);
    background-image: -o-linear-gradient(90deg, #0c499d 0%, #4889ec 100%); 
    background-image: -webkit-linear-gradient(90deg, #0c499d 0%, #4889ec 100%);
    background-image: linear-gradient(90deg, #0c499d 0%, #4889ec 100%);  
}
.blue.button:active{
  color: white;
  
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #00a4e7; 
  -moz-box-shadow:
    1px 5px 5px rgba(0,0,0,.15),
    inset 0 1px 1px rgba(109,207,246,.91),
    0 0 0 1px #002056;
  -webkit-box-shadow:
    1px 5px 5px rgba(0,0,0,.15),
    inset 0 1px 1px rgba(109,207,246,.91),
    0 0 0 1px #002056;
  box-shadow:

  1px 5px 5px rgba(0,0,0,.15),
    inset 0 1px 1px rgba(109,207,246,.91),
    0 0 0 1px #002056;
    background-image: -moz-linear-gradient(90deg, #2577f2 0%, #0c499d 100%);
    background-image: -o-linear-gradient(90deg, #2577f2 0%, #0c499d 100%); 
    background-image: -webkit-linear-gradient(90deg, #2577f2 0%, #0c499d 100%);
    background-image: linear-gradient(90deg, #2577f2 0%, #0c499d 100%); 
}                       


/*.button-remove-registration {
  position: absolute;
  margin-left: 3em;
}

.button-remove-registration:hover {
  background-color: pink;
}*/
















