<p id="notice"><%= notice %></p>

<p>
	<strong>Full name:</strong>	
	<%= @email.name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @email.email_address %>
</p>

<%= link_to 'Back', root_path %>



