<h1>Editing Image</h1>

<%= render 'form' %>

<%= link_to 'Show', wedding_image_path(@wedding, @image), class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Back', wedding_images_path(@wedding), class: 'btn btn-primary btn-xs' %>
